@media (min-width: 600px) {
.products{
  display: grid;
  grid-template-columns: auto auto auto;
}
.items{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__img{
  border-radius: 2px;
  width: 320px;
  height: 240px;
}
}
.file{
  border: 1px solid black;
  border-radius: 5px;
  font-size: medium;
  margin-left:250px;
  margin-top: 40px;
}
.file:hover{
  background-color: black;
  color: white;
}